body{
    font-family: 'Indie Flower', cursive;
}
div{
    text-align: center;
}
#input-txt{
display: block;
resize: none;
width: 20vw;
margin: auto auto 1rem;
padding: 10px;
border-color:darkolivegreen;
border-radius:4px ;
}
#input-txt::placeholder{
    color:darkslateblue;
}
#my-output{
    border:1px solid goldenrod;
    border-radius: 4px;
    width: 20vw;
    height: 30vh;
    padding: 10px;
    margin: auto; 
}